@media only screen and (max-width: 600px) {
  nav {
    font-size: .8em;
    justify-content: center;
  }
  div {
    flex-direction: column-reverse;
  }
}

body {
  box-sizing: border-box;
  color: rgb(46, 47, 62);
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
}

nav {
  background: black;
  display: flex;
}
nav a {
  color: grey;
  text-decoration: none;
  margin: 7px;
}

nav a.active,
nav a:hover {
  color: white;
  text-decoration: underline;
}

blockquote {
  background: #fff9d8;
  margin: 20px 0;
  padding: 0;
  border-left: 3px solid #ffff33;
}
blockquote p {
  border: none;
  color: grey;
  margin: 0 20px;
  line-height: 1.2em;
  padding: 20px 0;
}

div {
  display: flex;
}

div > section {
  background: #f8f8fa;
  margin-right: 20p;
  min-width: 25%;
  padding: 20px;
}

section h2 {
  margin: 0 0 5px 0;
  color: green;
  font-size: 1.2em;
  font-weight: normal;
  padding: 0 0 0 10px;
}

section blockquote,
section ul,
section ul li {
  opacity: .8;
  margin: 0;
  padding: 0;
}
section ul li {
  list-style:none;
  margin: 0;
  padding: 0;
}
section ul li a {
  padding-left: 20px;
  color: green;
  text-decoration:none;
  display: block;
}

section ul li a.active,
section ul li a:hover {
  background: green;
  text-decoration: none;
  color: white;
}
section hr {
  border: 2px solid white;
  margin: 15px;
}

div > main {
  flex-grow: 1;
  padding: 10px 20px;
}

main p code,
main li code {
  background: #f8f8fa;
  border: 2px dotted lightgrey;
  border-radius: 5px;
  padding: 2px;
}

main ol {
  display: block;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: -1em;
  margin-inline-end: 0em;
}

main li {
  font-size: 1.17em;
}

main ol li {
  font-weight: bold;
}

main ul li a {
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  color: green;
}

main hr {
  margin: 20px 0;
  border: 2px solid lightgrey;
}

form {
  display: flex;
  border: 2px dotted lightblue;
  background: azure;
  border-radius: 5px;
  margin-top: 20px;
}

form label {
  font-size: 1.3em;
  color: lightsteelblue;
  cursor: pointer;
  width: 100%;
}

table {
  width: 100%;
  border: 1px solid #DEF3FF;
    background: lightblue;
}
table tr th {
  text-align: left;
  padding-left: 10px;
  color: white;

}
table tr td {
  padding: 8px;
  background: #DEF3FF;
  font-family: monospace;
}

footer {
  text-align: center;
}

#popup {
  z-index:9999;
  position: absolute;
  flex-direction: column;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 220px;
  background: white;
  padding: 50px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#popup img {
  width: 100px;
  border-radius: 100px;
  border: 5px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
}
