@media only screen and (max-width: 600px) {
  nav {
    font-size: .8em;
    justify-content: center;
  }
  div {
    flex-direction: column-reverse;
  }
}

body {
  box-sizing: border-box;
  color: rgb(46, 47, 62);
  font-family: -system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 2em;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
}

nav {
  background: black;
  display: flex;
}
nav a {
  color: grey;
  text-decoration: none;
  margin: 7px;
}

nav a.active,
nav a:hover {
  color: white;
  text-decoration: underline;
}

div {
  display: flex;
}

div > section {
  background: #f8f8fa;
  margin-right: 20px solid white;
  min-width: 25%;
  padding: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}

section h2:nth-child(1) {
  margin: 0;
}

section blockquote,
section ul,
section ul li {
  opacity: .8;
  margin: 0;
  padding: 0;
}
section ul li {
  list-style:none;
  margin: 0;  
  padding: 0;
}  
section ul li a {
  padding-left: 20px;
  color: green;
  display: block;
}

section ul li a.active, 
section ul li a:hover {
  background: green;
  text-decoration: none;
  color: white;
}
section hr {
  border: 2px solid white;
  margin: 15px;
}

div > main {
  flex-grow: 1;
  padding: 10px 20px;
}

main p code,
main li code {
  background: #f8f8fa;
  border: 2px dotted lightgrey;
  border-radius: 5px;
  padding: 2px;
}

form {
  display: flex;
  border: 2px dotted lightblue;
  background: azure;
  border-radius: 5px;
  margin-top: 20px;
}

form label {
  font-size: 1.3em;
  color: lightsteelblue;
  cursor: pointer;
  width: 100%;
}

footer {
  text-align: center;
}

#popup {
  position: absolute;
  flex-direction: column;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 220px;
  background: white;
  padding: 50px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#popup img {
  width: 100px;
  border-radius: 100px;
  border: 5px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
}
